<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="CommandLineParser" version="1.9.71" targetFramework="net452" />
  <package id="LiteGuard" version="1.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin" version="3.1.0" targetFramework="net452" />
  <package id="Microsoft.Owin.Security" version="3.1.0" targetFramework="net452" />
  <package id="Nancy" version="1.4.4" targetFramework="net452" />
  <package id="Nancy.MSOwinSecurity" version="2.0.0" targetFramework="net452" />
  <package id="Owin" version="1.0" targetFramework="net452" />
  <package id="Serilog" version="2.5.0" targetFramework="net452" />
  <package id="Spg.Configuration" version="13.02.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Core" version="1.4.0" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Owin.ClaimsTransformation" version="1.0.1" targetFramework="net452" />
  <package id="Thinktecture.IdentityModel.Owin.ClientCertificates" version="1.1.0" targetFramework="net452" />
</packages>