<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring.Url" value="http://chd06075275.ch.ad.hedani.net/Monitoring/v2/UAT"/>
    <add key="Consul.Url" value="http://gblt2594807.eu.hedani.net:8500" />
    <add key="Consul.Token" value="49ce344a-84a5-4750-8f78-4fd22bc75f7e" />
    <add key="UrlNamespace" value="http://+:8645/" />
    <add key="ApiUrl" value="https://trader-uat-2.csintra.net:8644" />
    <add key="AuthenticationProvider" value="OwinClientCertificateAuthenticationProvider"/>
  </appSettings>
  </configuration>
