<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<serilog>
		<RollingFile.pathFormat>C:\logs\BlackMirror\BlackMirror.Sync.Worker.Host.Serilog.log</RollingFile.pathFormat>
		<RollingFile.serilogPathFormat>C:\logs\BlackMirror.SerilogBuffer\BlackMirror.Sync.Worker.Host.Serilog.log</RollingFile.serilogPathFormat>
		<RollingFile.retainedFileCountLimit>5</RollingFile.retainedFileCountLimit>
		<RollingFile.fileSizeLimitBytes>52428800</RollingFile.fileSizeLimitBytes>
	</serilog>
</configuration>