<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring.Url" value="http://chd06075275.ch.ad.hedani.net/Monitoring/v2/DEV_COE"/>
    <add key="Consul.Url" value="http://gblt2594807.eu.hedani.net:8500" />
    <add key="Consul.Token" value="49ce344a-84a5-4750-8f78-4fd22bc75f7e" />
    <add key="UrlNamespace" value="https://+:8644/" />
    <add key="AuthenticationProvider" value="OwinClientCertificateAuthenticationProvider"/>
    <add key="MongoConnectionString" value="mongodb://localhost:27017"/>
    <add key="MongoDatabase" value="black_mirror"/>
    <add key="MongoMirrorCollection" value="mirrors"/>
    <add key="MongoReflectionCollection" value="reflections"/>
    <add key="MongoSvcCollection" value="repositories"/>
    <add key="MongoSyncCollection" value="sync"/>
    <add key="MongoUserCollection" value="users"/>
    <add key="SecretPassword" value="generate a new one"/>
  </appSettings>
  <sslCertificates>
    <certificate file="Certificates\DEV.p12" hash="355896a23e9cf217bb57d3609a9b19ce949a910a" ipport="0.0.0.0:8644"/>
  </sslCertificates>
  </configuration>
