<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Monitoring.Url" value="http://chd06075275.ch.ad.hedani.net/Monitoring/v2/DEV_COE"/>
    <add key="Consul.Url" value="http://gblt2594807.eu.hedani.net:8500" />
    <add key="Consul.Token" value="49ce344a-84a5-4750-8f78-4fd22bc75f7e" />
    <add key="SecretPassword" value="generate a new one"/>
    <add key="ClientCertificate" value="TradeR_Client (S111864)"/>
    <add key="TimeoutMaxRetryCount" value="5"/>
    <add key="ApiUrl" value="https://localhost:8644/"/>
  </appSettings>
</configuration>
